body { margin: 0; }
center > table { width: 100%; }

#header > td { padding: 40px; }
#header { 
  background-color: #fafafa;
}

body, .pagetop { 
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

.pagetop { margin-left: -20px; }
.pagetop b { font-size: 20px; font-weight: 200; }

#comment,
#articles { background-color: #f5f5f5; }

#articles > td > table { margin: 40px 5%; width: 90%; }

#comment > td > table { margin: 40px 40px 0 40px; }
#comment > td > table:nth-child(2) { margin-top: 0; }

#comment #comments-box-wrapper { margin-top: 0; }

.article-details .subtext { padding-bottom: 40px; }

#header a:visited { color: #000; }
#articles a:visited { color: #666; }

a:hover { color: #888; }

.article-wrapper,
.article-wrapper tr { display: table; }
.article-wrapper tr:hover { background-color: #fafafa; }

.article-title { height: 20px; }

ul { list-style-type: none; }

#articles-list { margin: 0; padding: 0; border-top: thin solid #ddd; }
#articles-list li { padding: 20px; border: thin solid transparent; }
#articles-list li:hover {
  background-color: #fafafa;
  border-top: thin solid #f2f2f2;
  border-bottom: thin solid #f2f2f2;
}

.small { font-size: 12px; }